
@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot'); /* IE9*/
  src: url('fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff') format('woff'), /* chrome, firefox */
    url('fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="mi-icon-"], [class*=" h-icon-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mi-icon-app:before { content: "\e66f"; }
.mi-icon-sql:before { content: "\e672"; }
.mi-icon-text:before { content: "\e673"; }
.mi-icon-addition:before { content: "\e6e2"; }
.mi-icon-browse:before { content: "\e6ea"; }
.mi-icon-brush:before { content: "\e6eb"; }
.mi-icon-clock:before { content: "\e6f2"; }
.mi-icon-close:before { content: "\e6f3"; }
.mi-icon-collection:before { content: "\e6f5"; }
.mi-icon-computer:before { content: "\e6f7"; }
.mi-icon-coordinates:before { content: "\e6f9"; }
.mi-icon-coupons:before { content: "\e6fb"; }
.mi-icon-createtask:before { content: "\e6fd"; }
.mi-icon-customerservice:before { content: "\e6ff"; }
.mi-icon-delete:before { content: "\e701"; }
.mi-icon-document:before { content: "\e702"; }
.mi-icon-dynamic:before { content: "\e705"; }
.mi-icon-editor:before { content: "\e706"; }
.mi-icon-eit:before { content: "\e707"; }
.mi-icon-emoji:before { content: "\e709"; }
.mi-icon-empty:before { content: "\e70a"; }
.mi-icon-flag:before { content: "\e712"; }
.mi-icon-flashlight:before { content: "\e713"; }
.mi-icon-flip:before { content: "\e715"; }
.mi-icon-fullscreen:before { content: "\e717"; }
.mi-icon-group:before { content: "\e718"; }
.mi-icon-headlines:before { content: "\e71b"; }
.mi-icon-homepage:before { content: "\e71d"; }
.mi-icon-integral:before { content: "\e71f"; }
.mi-icon-interactive:before { content: "\e721"; }
.mi-icon-keyboard:before { content: "\e722"; }
.mi-icon-label:before { content: "\e723"; }
.mi-icon-like:before { content: "\e726"; }
.mi-icon-live:before { content: "\e728"; }
.mi-icon-lock:before { content: "\e72a"; }
.mi-icon-mail:before { content: "\e72b"; }
.mi-icon-manage:before { content: "\e72e"; }
.mi-icon-message:before { content: "\e72f"; }
.mi-icon-mine:before { content: "\e731"; }
.mi-icon-mobilephone:before { content: "\e734"; }
.mi-icon-more:before { content: "\e735"; }
.mi-icon-narrow:before { content: "\e736"; }
.mi-icon-offline:before { content: "\e738"; }
.mi-icon-order:before { content: "\e73a"; }
.mi-icon-other:before { content: "\e73b"; }
.mi-icon-people:before { content: "\e73d"; }
.mi-icon-picture:before { content: "\e73f"; }
.mi-icon-play:before { content: "\e740"; }
.mi-icon-playon:before { content: "\e743"; }
.mi-icon-praise:before { content: "\e745"; }
.mi-icon-prompt:before { content: "\e747"; }
.mi-icon-qrcode:before { content: "\e749"; }
.mi-icon-redpacket:before { content: "\e74b"; }
.mi-icon-refresh:before { content: "\e74c"; }
.mi-icon-remind:before { content: "\e74e"; }
.mi-icon-return:before { content: "\e74f"; }
.mi-icon-right:before { content: "\e750"; }
.mi-icon-scan:before { content: "\e751"; }
.mi-icon-select:before { content: "\e753"; }
.mi-icon-send:before { content: "\e754"; }
.mi-icon-service:before { content: "\e756"; }
.mi-icon-setup:before { content: "\e758"; }
.mi-icon-share_fill:before { content: "\e759"; }
.mi-icon-share:before { content: "\e75a"; }
.mi-icon-tailor:before { content: "\e75c"; }
.mi-icon-undo:before { content: "\e75d"; }
.mi-icon-unlock:before { content: "\e75f"; }
